@media screen and (max-width: 1275px) {
  #navbarNav #pages-list li {
    padding: 28px 37px !important;
  }
}
@media screen and (max-width: 1240px) {
  #navbarNav #pages-list li {
    padding: 28px 35px !important;
  }
}
@media screen and (max-width: 1217px) {
  #navbarNav #pages-list li {
    padding: 28px 33px !important;
  }
  #text-banner #text {
    margin: 0 90px !important;
  }
}
@media screen and (max-width: 1192px) {
  #navbarNav #pages-list li {
    padding: 28px 31px !important;
  }
}
@media screen and (max-width: 1177px) {
  #text-banner #text {
    margin: 0 80px !important;
  }
}
@media screen and (max-width: 1168px) {
  #navbarNav #pages-list li {
    padding: 28px 29px !important;
  }
}
@media screen and (max-width: 1144px) {
  #navbarNav #pages-list li {
    padding: 28px 27px !important;
  }
}
@media screen and (max-width: 1137px) {
  #text-banner #text {
    margin: 0 70px !important;
  }
}
@media screen and (max-width: 1120px) {
  #navbarNav #pages-list li {
    padding: 28px 25px !important;
  }
}
@media screen and (max-width: 1100px) {
  #navbarNav #pages-list li {
    padding: 28px 23px !important;
  }
}
@media screen and (max-width: 1097px) {
  #text-banner #text {
    margin: 0 60px !important;
  }
}
@media screen and (max-width: 1072px) {
  #navbarNav #pages-list li {
    padding: 28px 21px !important;
  }
}
@media screen and (max-width: 1057px) {
  #text-banner #text {
    margin: 0 50px !important;
  }
}
@media screen and (max-width: 1048px) {
  #navbarNav #pages-list li {
    padding: 28px 19px !important;
  }
}
@media screen and (max-width: 1024px) {
  #navbarNav #pages-list li {
    padding: 28px 17px !important;
  }
}
@media screen and (max-width: 1017px) {
  #text-banner #text {
    margin: 0 40px !important;
  }
}
@media screen and (max-width: 1000px) {
  #navbarNav #pages-list li {
    font-size: 14px;
    padding: 28px 21px !important;
  }
}
@media screen and (max-width: 991px) {
  #text-aboutus {
    height: 300px !important;
  }
  #text-banner {
    text-align: center;
    justify-content: center !important;
  }
  #text-banner #text {
    min-width: 500px !important;
    margin: 0 !important;
  }
  #text-banner #text h6, #text-banner #text h2 {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  #text-banner #img {
    display: none;
  }
}
@media screen and (max-width: 981px) {
  #navbarNav #pages-list li {
    padding: 28px 19px !important;
  }
}
@media screen and (max-width: 957px) {
  #navbarNav #pages-list li {
    padding: 28px 17px !important;
  }
}
@media screen and (max-width: 933px) {
  #navbarNav #pages-list li {
    padding: 28px 15px !important;
  }
}
@media screen and (max-width: 908px) {
  #navbarNav #pages-list li {
    padding: 28px 13px !important;
  }
}
@media screen and (max-width: 885px) {
  #navbarNav #pages-list li {
    font-size: 13px;
    padding: 28px 15px !important;
  }
}
@media screen and (max-width: 876px) {
  #navbarNav #pages-list li {
    padding: 28px 13px !important;
  }
}
@media screen and (max-width: 851px) {
  #navbarNav #pages-list li {
    padding: 28px 11px !important;
  }
}
@media screen and (max-width: 827px) {
  #navbarNav #pages-list li {
    padding: 28px 9px !important;
  }
}
@media screen and (max-width: 803px) {
  #navbarNav #pages-list li {
    padding: 28px 7px !important;
  }
}
@media screen and (max-width: 778px) {
  #navbarNav #pages-list li {
    padding: 28px 5px !important;
  }
}
@media screen and (max-width: 767px) {
  main {
    margin-top: 70px !important;
  }
  #menu {
    justify-content: space-between !important;
  }
  #button-navbar {
    margin: 0 10px !important;
    border: none !important;
    box-shadow: none !important;
  }
  #button-navbar span {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%) !important;
  }
  #navbarNav #pages-list li {
    padding: 10px 5px !important;
  }
}
@media screen and (max-width: 575px) {
  #text-banner button {
    padding: 10px 90px !important;
  }
}/*# sourceMappingURL=responsive.css.map */